@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: none;
}

#titulo {
    color: rgb(25, 107, 32);
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    font-size: 40px;
}



.importante {
    text-shadow: 2px 2px 5px rgb(116, 25, 25) ;
}

.p1 {
    text-shadow: 2px 2px 5px black;
    margin: 100px;
}

body {
    background-image: url('./imagens/floresta.jpg');
    background-repeat: no-repeat;
}