@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: none;
}

.titulo {
    color: rgb(21, 97, 29);
    display: flex;
    justify-content: center;

    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    font-size: 40px;
}



.importante {
    text-shadow: 2px 2px 5px rgb(116, 25, 25) ;
}

.p1 {
    text-shadow: 2px 2px 5px black;
    margin: 1rem 10rem 1rem 10rem;
    padding: 0 1rem 0 1rem;
    border: solid rgb(107, 25, 25);
    box-shadow: 2px 2px 5px rgb(75, 16, 16);
    background-color: o black;
}

body {
    background-image: url('./imagens/floresta.jpg');
    background-repeat: no-repeat;
}